         <footer class="footer">
            <div class="content-bottom-widgets">        
                <div class="container">
                    <div class="row"> 
                        <div class="flat-wrapper">
                            <div class="ft-wrapper clearfix">
                                <div class="footer-50">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="counter">
                                                <div class="counter-image"><i class="fa fa-building-o"></i></div>
                                                <div class="numb-count" data-to="7" data-speed="3000" data-waypoint-active="yes">7</div>
                                                <div class="counter-title">
                                                    Offices worldwide
                                                </div>
                                            </div>
                                        </div><!-- /.col-md-4 -->

                                        <div class="col-md-4">
                                            <div class="counter ft-style1">
                                                <div class="counter-image"><i class="fa fa-group"></i></div>
                                                <div class="numb-count" data-to="500" data-speed="3000" data-waypoint-active="yes">500</div>
                                                <div class="counter-title">
                                                    Hardworking people
                                                </div>
                                            </div>
                                        </div><!-- /.col-md-4 -->

                                        <div class="col-md-4">
                                            <div class="counter ft-style2">
                                                <div class="counter-image"><i class="fa fa-globe"></i></div>
                                                <div class="numb-count" data-to="15" data-speed="3000" data-waypoint-active="yes">15</div>
                                                <div class="counter-title">
                                                    Countries covered
                                                </div>
                                            </div>
                                        </div><!-- /.col-md-4 -->
                                    </div><!-- /.row -->
                                </div><!-- /.footer-50 -->

                                <div class="footer-50">
                                    <div class="subscribe-form">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="email" name="EMAIL" placeholder="Your email address" required="">
                                            </div><!-- /.col-md-8 -->

                                            <div class="col-md-4">
                                                <input type="submit" value="Subscribe">
                                            </div><!-- /.col-md-4 -->
                                        </div><!-- /.row -->
                                    </div><!-- /.subscribe-form -->
                                </div><!-- /.footer-50 -->
                            </div><!-- /.ft-wrapper -->
                        </div><!-- /.flat-wrapper -->
                    </div><!-- /.row -->    
                </div><!-- /.container -->
            </div><!-- /.footer-widgets -->

            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="widge widget_text">
                                <div class="textwidget">
                                    <h2>Eyelink Cargo LLC.</h2>
                                </div>
                            </div><!-- /.widget_text -->
                        </div><!-- /.col-md-3 -->

                        <div class="col-md-3">
                            <div class="widget widget_recent_entries">
                                <h4 class="widget-title">Recent News</h4>
                                <ul>
                                    <li>
                                        <a href="#">Raising productivity &amp; morale in the warehouse</a>
                                        <span class="post-date">May 09, 2017</span>
                                    </li>
                                    <li>
                                        <a href="#">Seafield logistics goes into administration</a>
                                        <span class="post-date">March 10, 2017</span>
                                    </li>
                                </ul>
                            </div><!-- /.widget_recent_entries -->
                        </div><!-- /.col-md-3 -->

                        <div class="col-md-3">
                            <div class="widget widget_nav_menu">
                                <h3 class="widget-title">Useful Links</h3>
                                <div class="menu-footer-menu-container">
                                    <ul class="menu-footer-menu">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About us</a></li>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="contact.html">Contact us</a></li>
                                        <li><a href="quote.html">Get a full quote</a></li>
                                        <li><a href="track-an-order.html">Track my Order</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.col-md-3 -->

                        <div class="col-md-3">
                            <div class="widget widget_text information">
                                <h3 class="widget-title">Contact Us</h3>
                                <div class="textwidget">
                                    <p><strong>Glass Masjid Naif Road Dubai, UAE</strong></p>
                                    <p>
                                        <i class="fa fa-phone"></i>  + 971 4 2596 635<br>
                                        <i class="fa fa-envelope"></i>info@eyeinkcargo.com
                                    </p>
                                
                                </div>          
                            </div>
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.footer-content -->

            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="flat-wrapper">
                            <div class="ft-wrap clearfix">
                                <div class="social-links">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.facebook.com/eyelinkcargollc"><i class="fa fa-facebook-official"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                                <div class="copyright">
                                    <div class="copyright-content">
                                        Copyright © 2017 EyeLink Cargo. Design by <a target="_blank" href="http://onion.co.ke">Onion Smart Solutions </a> & <a href="http://zipatech.com">Zipatech Solutions</a>  
                                    </div>
                                </div>
                            </div><!-- /.ft-wrap -->
                        </div><!-- /.flat-wrapper -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.footer-content -->
        </footer>
        
        
        
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var $_Tawk_API={},$_Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/56c1bb76b87fedbc09c385aa/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->



