      <div class="general-sidebars">
                        <div class="sidebar-wrap">
                            <div class="sidebar">
                                <div class="widget widget_nav_menu">
                                    <ul class="nav_menu">
                                        <li class="menu-item">
                                            <a href="services.html"><span class="scheme">All services</span></a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="air-freight.html"><i class="fa fa-plane scheme"></i>  <span class="dark"> Air Freight</span> </a>
                                        </li>
                                        <li class="menu-item">
                                             <a href="sea-freight.html"><i class="fa fa-ship scheme"></i>  <span class="dark"> Sea Freight</span> </a>
                                        </li>
                                        <li class="menu-item">
                                             <a href="land-freight.html"><i class="fa fa-truck scheme"></i><span class="dark"> Land Freight</span>   </a>
                                        </li>
                                        <li class="menu-item">
                                             <a href="warehousing.html"><i class="fa fa-building scheme"></i>   <span class="dark"> Warehousing</span></a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="customs-clearance.html"><i class="fa fa-file-text scheme"></i> <span class="dark"> Customs Clearance</span>  </a>
                                        </li>
                                        <li class="menu-item">
                                             <a href="packaging.html"><i class="fa fa-dropbox scheme"></i><span class="dark"> Packaging</span>   </a>
                                        </li>
                                         
                                    </ul>
                                </div><!-- /.widget_nav_menu -->


                                <div class="widget widget_text">
                                    <div class="textwidget">
                                        <div class="content-text">
                                            <h4 class="title">Why choose us?</h4>
                                            <ul>
                                                <li><i class="fa fa-arrow-circle-right"></i> Over 20 years experience</li>
                                                <li><i class="fa fa-arrow-circle-right"></i>  Well over 100 Trucks</li>
                                                <li><i class="fa fa-arrow-circle-right"></i> Reliable Service</li>
                                                <li><i class="fa fa-arrow-circle-right"></i>  On Time Deliveries</li>
                                                <li><i class="fa fa-arrow-circle-right"></i>  Professional Drivers</li>
                                                <li><i class="fa fa-arrow-circle-right"></i> Excellent Customer Service</li>
                                            </ul>
                                        </div>
                                    </div><!-- /.textwidget -->
                                </div><!-- /.widget_text -->


                            </div><!-- /.sidebar -->
                        </div><!-- /.sidebar-wrap -->
                    </div><!-- /.general-sidebars -->